body {
    width: 600px;
    /* margin: 0px auto 0px auto; */
}

div#navigation {
    text-align: center;
    background-color: gray;
    border: 4px solid gray;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

div#navigation a {
    color: #fafafa;
    text-decoration: none;
    background-color: gray; 
    padding: 3px 10px 3px 10px;
    margin: 0px 10px 0px 10px;
    font-family: sans-serif;
}

div.figure {
    float: right;
    margin: 20px 0px 20px 20px;
}

div.figure p.caption {
    text-align: center;
    font-style: italic;
}
