body { 
    background-color: gray; 
    text-align: center;
    font-family: sans-serif;
    margin-top: 5em;
    color: #fafafa;
}

a {
  text-decoration: none;
}

a:link {
  color: #fafafa;
}

a:visited {
  color: #bbbbbb;
}
